.body{
    background-image: url("IMG/stars.gif");
    width: 300px;
}

.header{
    color:black;
    width: 1265px;
    background-color: green;
    font-family: PUSAB;
    height: 300;
}

.logo{
    width: 300px;
    border-radius: 50px;
    background-color: yellow;
}

.menuDerecho{
    width: 200px;
    height: 1000px;
    background-color: yellow;
}